*{
    margin: 0%;
    padding: 0%;
}
#header{
    background-color: rgb(5, 158, 5, 0.74);
    width: 100%;
    height: 170px;
    z-index: 1;
    
}
header  #comlogo{
    display: inline-block;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(7, 102, 15);
    z-index: 2;
    position: relative;
    left: 5%; top: 10px;
    transition: 1s;
    
    
}
header img{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 19px;
    margin-left: 15px;
    border-radius: 24%;
    justify-content: center;
    transition: 600ms;

}   
#welcome{
    position: absolute;
    left : 50%;
    top : 10px;
    transition: 100ms ;

}

 header  #mylogo{
    display: inline-block;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(7, 102, 15);
    z-index: 2;
    position: relative;
    left: 79%; top: 10px;
    transition: 1s;
    
}

div#sub-head{
    background-color: rgb(7, 102, 15);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h5{
    background-color: rgb(15, 179, 15);
    color: white;
    flex-basis: 17%;
    padding: 10px;
    text-align: center;

    transition: all 600ms ease-in-out 0s;
    
}

h5:hover{
    color: greenyellow;
    background-color: rgb(10, 17, 10);
    transform: scale(1.1);
    cursor: pointer;
    
}
img:hover{
    transform: scale(1.09);
}
#comlogo:hover,#mylogo:hover{
    width: 137px;
    height: 137px;
    transform: scale(1.09);
}
